*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #dedbd2;
}

.todolist{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    padding: 0 20em;
}

.todolist h1{
    font-size: 6rem;
}
.todolist h4{
    font-size: 3rem;
    margin-top: 0.5rem;
}



li{
    font-size: 2rem;

}



.addTask{
    display: flex;
    gap: 2rem;
}

.addTask input{
    padding: 0.4em 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
}

.addTask button{
    padding: 0.4em 1em;
    border-radius: 0.5rem;
    border: none;
    font-size: 2rem;
}

.displayTask{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

li .done, .deleteBtn{
    font-size: 2rem;
    border-radius: 0.5rem;
    border: none;
    margin-left: 2rem;
}



li button {
    display: none;
}
li:hover button {
    display: inline;
}

.completed {
    text-decoration: line-through;
    color: gray;
}


/*===== Responsive Webpage ======*/

/* screen size max 1200 */

@media (max-width: 1100px) {

    .todolist{
        padding: 0 15em;
    }
    .todolist h4{
        font-size: 2rem;
    }

    .todolist h1{
        font-size: 4rem;
    }

    .addTask input,
    .addTask button {
        padding: 0.3em 0.8rem;
        font-size: 1.8rem;
    }
    
    .addTask{
        margin-top: 1em;
    }
}


/* screen size max 950 */
@media (max-width: 950px) {

    .todolist{
        padding: 0 10em;
    }
    .todolist h1{
        font-size: 3rem;
    }
    .addTask{
        display: flex;
        gap: 1rem;
    }

    .addTask input,
    .addTask button {
        padding: 0.2em 0.5rem;
        font-size: 1.5rem;
    }
}

/* screen size max 600 */
@media (max-width:600px) {

    .addTask {
        flex-direction: column;
        width: 100%;
        align-items: stretch;
    }

    .todolist{
        padding: 0 5em;
    }

    .addTask input,
    .addTask button {
        width: 100%;
    }

    .todolist h1{
        font-size: 2rem;
    }
    
    .todolist h4{
        font-size: 1rem;
    }

    li{
        font-size: 1.5rem;
    
    }

    li .done, .deleteBtn{
        font-size: 1.5rem;
        margin-left: 1.5rem;
    }
}

/* screen size max 350 */
@media (max-width:350px) {
    .todolist{
        padding: 0 2rem;
    }

    .todolist h1 {
        font-size: 1.5rem;
    }
    .todolist h4 {
        font-size: 0.9rem;
    }

    .addTask input,
    .addTask button {
        font-size: 0.8rem;
    }

    li{
        font-size: 1rem;
    }

    li .done, .deleteBtn{
        font-size: 1rem;
        margin-left: 1rem;
    }
}